body {
    background-image: url(../Pictures/backgroundd.png);
}

.h11 {
    font-weight: bold;
    color:  #ff9900;
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px
}

h3{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

nav {
    background-image: url("../Pictures/1.jpg");
    background-size: 100% 100%;
    text-align: justify;
    height: 355px;  
    padding: 20px;
    border: 2px solid rgb(255,185,079);
    border-radius: 12px;
}
ul{
    display: flex;
    margin: 20px;
}

body {
    height:100%;
}
a{
    text-decoration: none;
}

.button{
    list-style: none;
    background:#ff9900;
    color:#000000;
    text-decoration:none;
    box-shadow: 6px 7px 9px #69747b;
    padding: 9px 20px;
    margin: 4px 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}
.button:hover{
    background:darkorange;	
}
.button:active {
    background: #777777;	
}

footer {
    margin: 60px 0px 0px 0px;
    color: white;
    bottom:0;
    left:0;
}

#facebook_logo {
    width: 100%;
    height: 0;
    padding: 20px;
}

#footerP1 {
    color: #000000;
}

form {
    margin: 0px 600px;
}


.btn {
    padding: 12px;
    font-size: 15px;
    color: black;
}

.btn:hover {
    background-color: white;
}

.container {
    border: 2px solid black;
    height: 100%;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.fb-page {
    border: 3px solid red;
}

.news {
    width: 50%;
    height: auto;
    text-align: center;
    color: #777777;
    font-style: Italic;
    border: 2px solid blue;
    margin-left: 15px;
    margin-right: 15px;
}

.newsh2 {
    font-size: 15px;
}

.aboutus {
    height: 27px;
}

.topCanvas {
    width: 100%;
}

.info {
    margin-right: 43px;
    color: black;
    position: relative;
    top: -100%;
    left: 40%;
}

.info:hover {
    color: rgb(117,239,255);
}
